In [103]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jaisw\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\jaisw\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\jaisw\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\jaisw\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jaisw\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\jaisw\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\jaisw\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\jaisw\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jaisw\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jaisw\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [104]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [105]:
driver=webdriver.Chrome(r"C:\Users\jaisw\Downloads\chromedriver_win32\chromedriver.exe")

# Q.1) Python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
driver.get("https://www.naukri.com")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('data analyst')

In [5]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [8]:
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]'):
    job_title.append(i.text)
    
job_title[0:9]

['Data Analyst/Senior Analyst - R/SQL/Python',
 'Data Analyst',
 'data analyst / data analytics - US MNC (analytics)',
 'Data Analyst (Jr/Sr)',
 'Business Data Analyst (Sr Exe / Asst Manager)',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Analysts - Compliance Surveillance',
 'Sr Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst']

In [9]:
job_location=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]'):
    job_location.append(i.text)
    
job_location[0:9]

['Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, New Delhi, Mumbai (All Areas)',
 'Hybrid - Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [10]:
experience=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]'):
    experience.append(i.text)
    
experience[0:9]

['3-6 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-7 Yrs']

In [11]:
company=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company.append(i.text)
    
company[0:9]

['The Nikharv Consultancy',
 'Target',
 'Aspyra Hr Services',
 'Pole To Win (PTW)',
 'Talentleads',
 'Sejal Consulting Hub',
 'Standard Chartered Bank',
 'Amolitalents',
 'Enrich And Enlight Business Consulting']

In [15]:
df1=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company,"Experience":experience})
df1[0:10]

,Title,Location,Company,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Data Analyst (Jr/Sr),Bangalore/Bengaluru,Pole To Win (PTW),1-4 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

# Q.2) a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [18]:
driver.get("https://www.naukri.com")

In [19]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [20]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [21]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [22]:
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]'):
    job_title.append(i.text)
    
job_title[0:9]

job_location=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]'):
    job_location.append(i.text)
    
job_location[0:9] 

experience=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]'):
    experience.append(i.text)
    
experience[0:9]


company=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company.append(i.text)
    
company[0:9]

['Capgemini',
 'Tech Mahindra',
 'Accenture',
 'Accenture',
 'Birlasoft',
 'Birlasoft',
 'ANZ',
 'Capco',
 'Infosys']

In [23]:
df1=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company,"Experience":experience})
df1[0:10]

,Title,Location,Company,Experience
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,7-12 Yrs
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,ANZ,2-7 Yrs
7,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,7-12 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
9,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,7-11 Yrs

# Q.3)

In [124]:
driver.get("https://www.naukri.com")

In [125]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [126]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [127]:
filterloc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
filterloc.click()

In [128]:
filtersal=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
filtersal.click()

In [129]:
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]'):
    job_title.append(i.text)
    
job_title[0:9]

job_location=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]'):
    job_location.append(i.text)
    
job_location[0:9] 

experience=[]
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]'):
    experience.append(i.text)
    
experience[0:9]


company=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
    company.append(i.text)
    
company[0:9]

['AMERICAN EXPRESS',
 'AMERICAN EXPRESS',
 'Extramarks Education',
 'Gujarat Fluorochemicals',
 'GenNext India Private Limited',
 'Crisp Analytics or Lumiq',
 'Metrix Research & Analytics',
 'Vizlogic Digital Solutions',
 'torcai digital media']

In [130]:
df10=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company,"Experience":experience})
df10[0:10]

,Title,Location,Company,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
3,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
4,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
5,Hiring For Senior Data Scientist-Noida,"Delhi / NCR, Noida, New Delhi, Greater Noida",Crisp Analytics or Lumiq,2-6 Yrs
6,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
7,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
8,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
9,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs

# Q.4)Scrape data of first 100 sunglasses listings on flipkart.com.

In [ ]:
driver.get("https://www.flipkart.com")

In [48]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys("Sunglasses")

In [49]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [87]:
brand=[]
start=0
end=3

for page in range(start,end):
    br=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br:
        brand.append(i.text)



    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
brand

['Fastrack',
 'New Specs',
 'PIRASO',
 'like future',
 'kingsunglasses',
 'Elligator',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'PC STAR',
 'SUNBEE',
 'PIRASO',
 'Elligator',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Elligator',
 'kingsunglasses',
 'EYELLUSION',
 'Singco India',
 'ROZZETTA CRAFT',
 'Satyam Kraft',
 'Fastrack',
 'Dervin',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Silver Kartz',
 'Ray-Ban',
 'SUNBEE',
 'NuVew',
 'CART2DEAL',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'IZAAN MART',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'PHENOMENAL',
 'Elligator',
 'Elligator',
 'SRPM',
 'Elligator',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'SRPM',
 'LIZA ANGEL',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SRPM',
 'Sewell',
 'LIZA ANGEL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Rich Club',
 'EYELLUSION',
 'PIRASO',
 'New Specs',
 'NuVew',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'New Specs',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'Elligator',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Elligator',
 'EYELLUSION',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Satyam Kraft',
 'Ray-Ban',
 'NuVew',
 'SUNBEE',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'LIZA ANGEL',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON']

In [88]:
description=[]
start=0
end=3

for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)



    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    
description

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (59)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'Polarized Wrap-around Sunglasses (45)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Clubmaster Sunglasses (54)',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection, Night Vision Retro Square Sunglasses (Fr...',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Aviator Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Gradient Aviator Sunglas...',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Wrap-around Sunglasses (45)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)']

In [89]:
price=[]
start=0
end=3

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)



    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
price

['₹149',
 '₹129',
 '₹579',
 '₹579',
 '₹519',
 '₹149',
 '₹199',
 '₹149',
 '₹149',
 '₹342',
 '₹497',
 '₹699',
 '₹649',
 '₹159',
 '₹283',
 '₹649',
 '₹519',
 '₹3,349',
 '₹179',
 '₹519',
 '₹299',
 '₹579',
 '₹212',
 '₹179',
 '₹949',
 '₹519',
 '₹989',
 '₹259',
 '₹125',
 '₹629',
 '₹196',
 '₹210',
 '₹566',
 '₹129',
 '₹679',
 '₹252',
 '₹699',
 '₹112',
 '₹399',
 '₹449',
 '₹599',
 '₹149',
 '₹499',
 '₹129',
 '₹129',
 '₹229',
 '₹149',
 '₹599',
 '₹149',
 '₹174',
 '₹179',
 '₹129',
 '₹259',
 '₹129',
 '₹274',
 '₹999',
 '₹244',
 '₹129',
 '₹649',
 '₹579',
 '₹129',
 '₹386',
 '₹280',
 '₹257',
 '₹129',
 '₹579',
 '₹129',
 '₹499',
 '₹258',
 '₹182',
 '₹281',
 '₹579',
 '₹108',
 '₹268',
 '₹129',
 '₹519',
 '₹214',
 '₹149',
 '₹172',
 '₹281',
 '₹172',
 '₹519',
 '₹579',
 '₹149',
 '₹129',
 '₹149',
 '₹579',
 '₹199',
 '₹699',
 '₹649',
 '₹283',
 '₹149',
 '₹342',
 '₹497',
 '₹649',
 '₹159',
 '₹519',
 '₹212',
 '₹3,349',
 '₹179',
 '₹290',
 '₹579',
 '₹299',
 '₹519',
 '₹259',
 '₹125',
 '₹179',
 '₹949',
 '₹519',
 '₹112',
 '₹629',
 '₹196',
 '₹679',
 '₹129',
 '₹210',
 '₹566',
 '₹252',
 '₹399',
 '₹699',
 '₹439']

In [90]:
print(len(brand),len(description),len(price))

120 120 120

In [92]:
df2=pd.DataFrame({"Brand":brand,"Description":description,"Price":price})
df2[0:100]

             Brand                                        Description   Price
0         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹149
1        New Specs  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹129
2           PIRASO   UV Protection Rectangular Sunglasses (Free Size)    ₹579
3      like future  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹579
4   kingsunglasses         UV Protection Retro Square Sunglasses (53)    ₹519
..             ...                                                ...     ...
95  kingsunglasses              Polarized Wrap-around Sunglasses (45)    ₹159
96       Elligator  by Lenskart Polarized, UV Protection Aviator S...    ₹519
97      EYELLUSION  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹212
98          SUNBEE              UV Protection Aviator Sunglasses (54)  ₹3,349
99  ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹179

[100 rows x 3 columns]

# Q.5

In [131]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [136]:
rating=[]
summary=[]
review=[]
start=0
end=10

for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
        
    summ=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summ:
        summary.append(i.text)
        
    rev=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rev:
        review.append(i.text)
    
    nextb=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextb.click()
    time.sleep(3)

In [137]:
print(len(rating),len(summary),len(review))

100 100 100

In [138]:
df11=pd.DataFrame({"Ratings":rating,"Review Summary":summary,"Full Review":review})
df11

,Ratings,Review Summary,Full Review
0,5,Fabulous!,This is my first iOS phone. I am very happy wi...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
4,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

# Q.6)

In [4]:
driver.get("https://www.flipkart.com")

In [5]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys("sneaker")

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [32]:
brand=[]
start=0
end=3

for page in range(start,end):
    br=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br:
        brand.append(i.text)
            

        


    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(10)
brand

['asics',
 'U.S. POLO ASSN.',
 'PUMA',
 'Contraver',
 'Shozie',
 'Asian Shoes',
 'Layasa',
 'Contraver',
 'Layasa',
 'bacca bucci',
 'bacca bucci',
 'Contraver',
 'aadi',
 'RED TAPE',
 'bacca bucci',
 'RapidBox',
 'PUMA',
 'U.S. POLO ASSN.',
 'U.S. POLO ASSN.',
 'BRUTON',
 'DUCATI',
 'PUMA',
 'U.S. POLO ASSN.',
 'SFR',
 'RED TAPE',
 'bacca bucci',
 'Layasa',
 'RapidBox',
 'Sparx',
 'asics',
 'Kzaara',
 'BRUTON',
 'Skechers',
 'PUMA',
 'asics',
 'BRUTON',
 'Shozie',
 'PUMA',
 'PUMA',
 'Cipramo Sports',
 'RapidBox',
 'Shozie',
 'World Wear Footwear',
 'aadi',
 'SFR',
 'ADIDAS',
 'PUMA',
 'BRUTON',
 'PUMA',
 'Asian Shoes',
 'Kzaara',
 'Zixer',
 'Layasa',
 'Kraasa',
 'Deals4you',
 'Afrojack',
 'PUMA',
 'Sparx',
 'Asian Shoes',
 'BRUTON',
 'Kraasa',
 'Sparx',
 'aadi',
 'RED CHIEF',
 'World Wear Footwear',
 'Layasa',
 'Layasa',
 'WELDONE',
 'ADIDAS',
 'BIRDE',
 'Shozie',
 'GVR',
 'aadi',
 'HRX by Hrithik Roshan',
 'asian',
 'BRUTON',
 'PUMA',
 'HIGHLANDER',
 'PUMA',
 'RED CHIEF',
 'asics',
 'PUMA',
 'U.S. POLO ASSN.',
 'RapidBox',
 'Shozie',
 'Layasa',
 'PUMA',
 'BRUTON',
 'Asian Shoes',
 'bacca bucci',
 'Layasa',
 'SFR',
 'bacca bucci',
 'RED TAPE',
 'aadi',
 'RapidBox',
 'bacca bucci',
 'U.S. POLO ASSN.',
 'U.S. POLO ASSN.',
 'BRUTON',
 'PUMA',
 'Layasa',
 'Sparx',
 'BRUTON',
 'U.S. POLO ASSN.',
 'RED TAPE',
 'bacca bucci',
 'Cipramo Sports',
 'DUCATI',
 'asics',
 'Skechers',
 'Kzaara',
 'Kzaara',
 'PUMA',
 'Shozie',
 'aadi',
 'asics',
 'asian',
 'PUMA',
 'Zixer']

In [31]:
description=[]
start=0
end=3

for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)
            

        


    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
    
description

['Sneakers For Men',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'STREET ICON M Sneakers For Men',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 'Men & Boys Stylish Premium,Comfortable Gyming/ Sports/ ...',
 'Neptune Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Women',
 'Sneakers For Women',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'x 1DER Jack V2 Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Casual Shoes For Men Sneakers For Men',
 'SM-671 Sneakers For Men',
 'SM-671 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack of 2 Casual Shoes Sneaker Shoes For Men Snea...',
 'Stylish Casual Sports Shoe Sneakers For Women',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'Premium White Casual Shoes For Men Sneakers For Men',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'ACTIVE RUN Sneakers For Men',
 'WATERPROOF-05cFULLBLACK Sneakers For Men',
 'Canvas Casual Sneakers For Walking,Running,Gym For Men ...',
 'Cave V2 Sneakers For Men',
 'Skipper Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Stylish Walking Partywear Sneakers Casual Shoes Sneaker...',
 'fuzor B Sneakers For Men',
 'Sneakers For Women',
 'Men & Boys Stylish Premium,Comfortable Gyming/ Sports/ ...',
 'GAIMAN 2.O Sneakers For Men',
 'STORM ORIGIN Sneakers For Women',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Men & Boys Stylish Premium,Comfortable Gyming/ Sports/ ...',
 'Mens Ultraforce Mid-top Athletic-Inspired Retro Fashion...',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Men & Boys Stylish Premium,Comfortable Gyming/ Sports/ ...',
 'Sneakers For Women',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'FITZ 2.0 Sneakers For Men',
 'x KL Columbus Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'DT-SS22-128B Sneakers For Men',
 'Stylish Casual Sports Shoe Sneakers For Women',
 'Casual Shoes For Men Sneakers For Men',
 'PANAL Sneakers For Men',
 'Sneakers For Men',
 'Platform Chunky Trainer/Sneakers -BOOM Mid Top Shoes fo...',
 'Sneakers For Men',
 'fuzor B Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...',
 'Combo Pack of 2 Casual Shoes Sneaker Shoes For Men Snea...',
 'GO RUN PULSE-ALANINE Sneakers For Men',
 'LYTECOURT Sneakers For Men',
 'CAVE Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 "Newton-01 Men's Lightweight Running Shoes Sneakers For ...",
 'Women Sneakers Casual Shoes Sneakers For Women',
 'Canvas Casual Sneakers For Walking,Running,Gym For Men ...',
 'Sneakers For Men',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Neptune Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Women',
 'Sneakers For Women',
 'SM-671 Sneakers For Men',
 'x 1DER Jack V2 Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Exclusive Rap & Dance Shoes For Boys Sneakers For Men S...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'SM-671 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'RC1975 022 Corporate Casuals For Men',
 'Stylish Casual Sports Shoe Sneakers For Women',
 'STREET ICON M Sneakers For Men',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'CLASSIC CT SNEAKER Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Premium White Casual Shoes For Men Sneakers For Men',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'ACTIVE RUN Sneakers For Men',
 'WATERPROOF-05cFULLBLACK Sneakers For Men',
 'Cave V2 Sneakers For Men',
 'Skipper Sneakers For Men',
 'Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men']

In [30]:
price=[]
start=0
end=3

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
            

        


    
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nextbutton.click()
    time.sleep(3)
price

['₹1,892',
 '₹489',
 '₹1,799',
 '₹599',
 '₹485',
 '₹449',
 '₹449',
 '₹699',
 '₹1,199',
 '₹1,199',
 '₹539',
 '₹499',
 '₹399',
 '₹1,484',
 '₹1,599',
 '₹499',
 '₹3,149',
 '₹1,799',
 '₹1,559',
 '₹499',
 '₹1,791',
 '₹1,759',
 '₹1,299',
 '₹609',
 '₹429',
 '₹1,799',
 '₹1,349',
 '₹599',
 '₹1,843',
 '₹674',
 '₹269',
 '₹399',
 '₹1,714',
 '₹4,439',
 '₹2,715',
 '₹599',
 '₹449',
 '₹3,904',
 '₹1,891',
 '₹604',
 '₹599',
 '₹699',
 '₹399',
 '₹434',
 '₹2,100',
 '₹399',
 '₹2,279',
 '₹499',
 '₹1,814',
 '₹449',
 '₹329',
 '₹499',
 '₹299',
 '₹449',
 '₹449',
 '₹609',
 '₹1,770',
 '₹449',
 '₹824',
 '₹599',
 '₹824',
 '₹499',
 '₹419',
 '₹399',
 '₹429',
 '₹399',
 '₹399',
 '₹604',
 '₹2,132',
 '₹494',
 '₹360',
 '₹599',
 '₹449',
 '₹3,699',
 '₹2,214',
 '₹599',
 '₹599',
 '₹539',
 '₹447',
 '₹835',
 '₹447',
 '₹485',
 '₹1,892',
 '₹499',
 '₹1,799',
 '₹449',
 '₹539',
 '₹229',
 '₹449',
 '₹1,199',
 '₹1,484',
 '₹499',
 '₹399',
 '₹1,599',
 '₹1,759',
 '₹833',
 '₹3,149',
 '₹1,799',
 '₹1,791',
 '₹699',
 '₹429',
 '₹1,199',
 '₹1,559',
 '₹299',
 '₹1,799',
 '₹1,349',
 '₹1,299',
 '₹594',
 '₹1,843',
 '₹674',
 '₹269',
 '₹799',
 '₹4,439',
 '₹2,715',
 '₹2,568',
 '₹799',
 '₹1,891',
 '₹2,304',
 '₹895',
 '₹399']

In [29]:
df3=pd.DataFrame({"Brand":brand[0:100],"Description":description[0:100],"Price":price[0:100]})
df3

,Brand,Description,Price
0,sixXplus,GAIMAN 2.O Sneakers For Men,₹558
1,BRUTON,Future-04 casual shoes for men | Latest Stylis...,₹599
2,World Wear Footwear,Sneakers For Women,₹399
3,aadi,Sneakers For Men,₹434
4,ADIDAS,Casual Sneakers White Shoes For Girls And Snea...,"₹2,100"
...,...,...,...
95,Afrojack,"Men & Boys Stylish Premium,Comfortable Gyming/...",₹674
96,PUMA,x KL Columbus Sneakers For Men,₹824
97,Asian Shoes,Stylish Casual Sports Shoe Sneakers For Women,₹449
98,Sparx,DT-SS22-128B Sneakers For Men,"₹1,770"
99,BRUTON,Sneakers For Men,₹599

# Q.7)

In [34]:
driver.get("https://www.amazon.in")

In [35]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys("Laptop")

In [36]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [37]:
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[11]/span/a/span')
filter.click()

In [43]:
title=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    title.append(i.text)
    
title[0:9]

rating=[]
for i in driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]'):
    rating.append(i.text)
    
rating[0:9] 

price=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'):
    price.append(i.text)
    
price[0:9]

['94,990', '99,790', '56,990', '78,106', '79,990', '', '', '', '']

In [39]:
print(len(title),len(rating),len(price))

30 11 38

In [41]:
df4=pd.DataFrame({"Title":title[0:10],"Rating":rating[0:10],"Price":price[0:10]})
df4

                                               Title Rating   Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...         94,990
1  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...         99,790
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...         56,990
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...         78,106
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...         79,990
5  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...
6  HP Victus Gaming Latest 12th Gen Intel Core i7...
7  (Renewed) Dell Windows 10 Pro Latitude Ultrali...
8  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...
9  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...

# Q.8)

In [76]:
driver.get("https://www.azquotes.com")

In [77]:
top_quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [78]:
Quote=[]
author=[]
typeofquote=[]
start=0
end=10

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in pr:
        Quote.append(i.text)     
      
    aut=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in aut:
        author.append(i.text)     
    

    toq=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in toq:
        typeofquote.append(i.text)     
    nextbutton=driver.find_element(By.XPATH,'//li[@class="next"]')
    nextbutton.click ()
    time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=109.0.5414.75)
Stacktrace:
Backtrace:
	(No symbol) [0x01136643]
	(No symbol) [0x010CBE21]
	(No symbol) [0x00FCDA9D]
	(No symbol) [0x01001342]
	(No symbol) [0x0100147B]
	(No symbol) [0x01038DC2]
	(No symbol) [0x0101FDC4]
	(No symbol) [0x01036B09]
	(No symbol) [0x0101FB76]
	(No symbol) [0x00FF49C1]
	(No symbol) [0x00FF5E5D]
	GetHandleVerifier [0x013AA142+2497106]
	GetHandleVerifier [0x013D85D3+2686691]
	GetHandleVerifier [0x013DBB9C+2700460]
	GetHandleVerifier [0x011E3B10+635936]
	(No symbol) [0x010D4A1F]
	(No symbol) [0x010DA418]
	(No symbol) [0x010DA505]
	(No symbol) [0x010E508B]
	BaseThreadInitThunk [0x75E87D69+25]
	RtlInitializeExceptionChain [0x7725BB9B+107]
	RtlClearBits [0x7725BB1F+191]

In [79]:
print(len(Quote),len(author),len(typeofquote))

1000 1000 1000

In [80]:
df5=pd.DataFrame({"Quote":Quote,"Author":author,"Type":typeofquote})
df5

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q.9)

In [139]:
driver.get("https://www.jagranjosh.com")

In [140]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [141]:
pmlist=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pmlist.click()

In [91]:
name=[]
for i in driver.find_elements(By.XPATH,'//a[@rel="noopener noreferrer nofollow"]'):
    name.append(i.text)
    

bd=[]
for i in driver.find_elements(By.XPATH,'//td[@valign="top"]'):
    bd.append(i.text)
    

tof=[]
for i in driver.find_elements(By.XPATH,'//td[@valign="top"]'):
    price.append(i.text)
    
remark=[]
for i in driver.find_elements(By.XPATH,'//td[@valign="top"]'):
    remark.append(i.text)

In [ ]:
df12=pd.DataFrame({"Name":name,"Birth-Death":bd,"Term Of Office":tof,"Remark":remark})
df12

# Q.10)

In [106]:
driver.get("https://www.motor1.com")

In [107]:
car=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
car.send_keys("50 most expensive cars in the world.")

In [109]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [110]:
find=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
find.click()

In [123]:
df8=pd.DataFrame({"Car Name":name[0:50]})
df8

                           Car Name
0                         Drako GTE
1                     De Tomaso P72
2                 Ferrari LaFerrari
3                     Pagani Huayra
4                      McLaren Elva
5                       Czinger 21C
6                     Ferrari Monza
7                Gordon Murray T.33
8                 Koenigsegg Gemera
9                       Zenvo TSR-S
10               Hennessey Venom F5
11                  Bentley Bacalar
12    Hispano Suiza Carmen Boulogne
13           Bentley Mulliner Batur
14                     Deus Vayanne
15                      SSC Tuatara
16                      Lotus Evija
17              Aston Martin Vulcan
18                       Delage D12
19                McLaren Speedtail
20                     Rimac Nevera
21                    Pagani Utopia
22             Pininfarina Battista
23                Ferrari FXX K Evo
24               Gordon Murray T.50
25             Lamborghini Countach
26         Mercedes-AMG Project One
27              Aston Martin Victor
28      Hennessey Venom F5 Roadster
29                 Koenigsegg Jesko
30            Aston Martin Valkyrie
31        W Motors Lykan Hypersport
32                    McLaren Solus
33        Pagani Huayra Roadster BC
34         Bugatti Chiron Pur Sport
35                 Lamborghini Sian
36                 Koenigsegg CC850
37  Bugatti Chiron Super Sport 300+
38               Lamborghini Veneno
39                   Bugatti Bolide
40                  Bugatti Mistral
41              Pagani Huayra Imola
42                     Bugatti Divo
43              SP Automotive Chaos
44                 Pagani Codalunga
45         Mercedes-Maybach Exelero
46               Bugatti Centodieci
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*